pollday/pollday/secrets.py
__pycache__/
*.txt
pollday/polls/migrations/
pollday/marks/migrations/
pollday/db.sqlite3
*.zip
*.jpg
.coverage
.pgpass
.env
pollday/htmlcov/
.vscode/
Dockerfile
pollday/psql_tests.py
pollday/temperature.json
/pollday/game/migrations