<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" 
    type="text/css" 
    href="{% static 'style/style.css' %}">
    <!-- <script src = "{% static 'script/learn_aj.js' %}"></script> -->
</head>
<body>
    <div>
        <h1>
            Пример работы с внешними ключами
        </h1>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>